body{
  height: 100vh;
  font-family: "Poppins";
  background-color:#26A9E1;
  margin: 0px;
  color: white;
}

.addLogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar{
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.pageContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imgContainer{
  padding-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  display: none;
  height: 20vh;
}
.revealContainer{
  height: 40vh;
  display: flex;
	align-items: center;
	justify-content: center;
}

.textChanger:hover{
  color: black
}

#icon1{
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;

}
#icon2{
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;

}
#icon3{
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;
}

.showDate{
  color: white;
}
.showDate:hover{
  -webkit-transition: color .75s ease-out;
  -moz-transition: color .75s ease-out;
  -o-transition: color .75s ease-out;
  transition: color .75s ease-out;
  color:black;
}
/*
  shuffle.html
*/


.imgContainer2{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  height: 20vh;
}
.imgContainerHide{
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  height: 20vh;
  display: none;
}

.pageContainer2{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}



/*
  comment index
*/
.infoContainer{
  height: 60vh;
  width: 60vw;
  background-color: #25a4d9;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: auto;
}


/*
  discussions show
*/
.discussionCommentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.discussionsInfo{
  width: 40vw;
  height: 60vh;
  background-color: #25a4d9;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.discussionsComments{
  width: 40vw;
  height: 60vh;
  background-color: #25a4d9;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.eventsText{
  width: 39vw;
  height: 40vw;
  background-color: #25a4d9;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 10px;
  margin-right: 0px;
}
.discussionsText{
  width: 39vw;
  height: 40vw;
  background-color: #25a4d9;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 10px;
  margin-right: 0px;
}
#sectionTitle{
  text-align: center;
  border-bottom: 1px solid white;
  margin-left: 50px;
  margin-right: 50px;
}



span {
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    position: fixed;
    top: 15px;
    left: 15px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
    background-color: white;
    color: #25a4d9;
    text-align: center;
    font-size: 2em;
}

span:hover{
  color: black;
  -webkit-transform: rotate(360deg); /* Safari */
  transform: rotate(360deg);
}
