.textChanger{
  margin: 0px;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  color: white;
}

#icon1:hover{
  -webkit-transition: color .75s ease-out;
  -moz-transition: color .75s ease-out;
  -o-transition: color .75s ease-out;
  transition: color .75s ease-out;
  color:black;
}
#icon2:hover{
  -webkit-transition: color .75s ease-out;
  -moz-transition: color .75s ease-out;
  -o-transition: color .75s ease-out;
  transition: color .75s ease-out;
  color:black;
}
#icon3:hover{
  -webkit-transition: color .75s ease-out;
  -moz-transition: color .75s ease-out;
  -o-transition: color .75s ease-out;
  transition: color .75s ease-out;
  color:black;
}


/*
  moments logo animation
*/
:root {
	--animation-delay: 1s;
	--duration: 2000ms;
	--iterations: 1;
}
#reveal-text,
#reveal-text::after {
	animation-delay: var(--animation-delay);
	animation-iteration-count: var(--iterations);
	animation-duration: var(--duration);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

#reveal-text {
	position: relative;
	font-size: 110px;
	display: block;
	animation-name: reveal-text;
	margin: 0px;

	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: revealer-text;
	}

}

/*
  animation: from % of text to %of text
*/
@keyframes reveal-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes revealer-text {

	0%, 50% {
		transform-origin: 0 50%;
	}

	60%, 100% {
		transform-origin: 100% 50%;
	}


	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}
