body{
  height: 100vh;
  font-family: "Poppins";
  background-color:#26A9E1;
  margin: 0px;
  color: white;
}
.navbar{
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.pageContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imgContainer{
  padding-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  display: none;
  height: 20vh;
}
.revealContainer{
  height: 40vh;
  display: flex;
	align-items: center;
	justify-content: center;
}
.textChanger{
  margin: 0px;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  color: white;
}
.textChanger:hover{
  color: black
}

#icon1{
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;

}
#icon2{
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;

}
#icon3{
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;
}
#icon1:hover{
  -webkit-transition: color .75s ease-out;
  -moz-transition: color .75s ease-out;
  -o-transition: color .75s ease-out;
  transition: color .75s ease-out;
  color:black;
}
#icon2:hover{
  -webkit-transition: color .75s ease-out;
  -moz-transition: color .75s ease-out;
  -o-transition: color .75s ease-out;
  transition: color .75s ease-out;
  color:black;
}
#icon3:hover{
  -webkit-transition: color .75s ease-out;
  -moz-transition: color .75s ease-out;
  -o-transition: color .75s ease-out;
  transition: color .75s ease-out;
  color:black;
}
.showDate{
  color: white;
}
.showDate:hover{
  -webkit-transition: color .75s ease-out;
  -moz-transition: color .75s ease-out;
  -o-transition: color .75s ease-out;
  transition: color .75s ease-out;
  color:black;
}
/*
  shuffle.html
*/


.imgContainer2{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  height: 20vh;
}
.imgContainerHide{
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  height: 20vh;
  display: none;
}

.pageContainer2{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/*
  moments scripts
*/
:root {
	--animation-delay: 1s;
	--duration: 2000ms;
	--iterations: 1;
}
#reveal-text,
#reveal-text::after {
	animation-delay: var(--animation-delay);
	animation-iteration-count: var(--iterations);
	animation-duration: var(--duration);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

#reveal-text {
	position: relative;
	font-size: 110px;
	display: block;
	animation-name: reveal-text;
	margin: 0px;

	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: revealer-text;
	}

}

/*
  animation: from % of text to %of text
*/
@keyframes reveal-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes revealer-text {

	0%, 50% {
		transform-origin: 0 50%;
	}

	60%, 100% {
		transform-origin: 100% 50%;
	}


	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}



/*
  comment index
*/
.infoContainer{
  height: 60vh;
  width: 60vw;
  background-color: #25a4d9;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: auto;
}


/*
  discussions show
*/
.discussionCommentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.discussionsInfo{
  width: 40vw;
  height: 60vh;
  background-color: #25a4d9;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.discussionsComments{
  width: 40vw;
  height: 60vh;
  background-color: #25a4d9;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.eventsText{
  width: 39vw;
  height: 40vw;
  background-color: #25a4d9;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 10px;
  margin-right: 0px;
}
.discussionsText{
  width: 39vw;
  height: 40vw;
  background-color: #25a4d9;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 10px;
  margin-right: 0px;
}
#sectionTitle{
  text-align: center;
  border-bottom: 1px solid white;
  margin-left: 50px;
  margin-right: 50px;
}


/*
  media query
*/

span {
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    position: fixed;
    top: 15px;
    left: 15px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
    background-color: white;
    color: #25a4d9;
    text-align: center;
    font-size: 2em;
}

span:hover{
  color: black;
  -webkit-transform: rotate(360deg); /* Safari */
  transform: rotate(360deg);
}

.addLogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 750px){

  .discussionCommentContainer{
    flex-direction: column;
  }

  .discussionsComments{
    width: 95vw;
  }

  .discussionsInfo{
    width: 95vw;
  }

  .eventsText{
    width: 93vw;
  }
  .discussionsText{
    width: 93vw;
  }
  span{
    display: none;
  }

.infoContainer  {
  width: 95vw;
}
